<h1>The Magic 8 Ball has spoken! Click to play again. </h1>
<br />
<div class="img">
  <a href="/" class="wiggly">
    <img src="/8ball_answer.png">
    <div class="answer">
      <div class="answer-content">
        <%= @answer %>
      </div>
    </div>
  </a>
</div>
