<h1>The 8 Ball has spoken!</h1>
<div class="img">
  <a href="/" class="wiggly">
    <img src="/8ball_answer.png">
    <div class="answer">
      <div class="answer-content">
        <%= @answer %>
      </div>
    </div>
  </a>
</div>
