<!DOCTYPE html>

<html>
  <head>
    <title> Magic 8 Ball</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
  </head>
  <body>
    <h1>Ask the Magic 8 Ball a question!</h1>
    <%= yield %>
  </body>
</html>
