<!DOCTYPE html>

<html>
  <head>
    <title> Magic 8 Ball</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <meta content="Magic Pink 8 Ball by Lilly Piri" name="description">
    <meta content="Lilly Piri" property="og:title">
    <meta content="Magic Pink 8 Ball - Find out your future! Made by Lilly Piri" property="og:description">
    <meta content="https://s3.amazonaws.com/lillypiri/ogimages/8ball.png" property="og:image">
    <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
  </head>
  <body>
    <%= yield %>
    <br />
    <br />
    <br />
    <br />
    <br />
      <div class="caption">
        Made by <a href="https://github.com/lillypiri">@lillypiri</a>.
      </div>
  </body>
</html>
