<!DOCTYPE html>

<html>
  <head>
    <title> Magic 8 Ball</title>
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <meta content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" name="viewport">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
