body {
  background: #fb6565;
  background-color: #f9fbd2;
  background-size: 200px 250px;
  background-image: url("/background.png");
  background-repeat: repeat;
  margin: 0 auto;
  font-family: "Verdana", monospace;
  color: #131649;
  line-height: 1.5;
  padding: 40px 10px;
  font-size: 16px;
  text-align: center;
}

.img {
    max-width: 400px;
    margin: auto;
    position: relative;
  }

  .wiggly {
      display: block;
      margin: auto;
      margin-bottom: auto;
      transition: all 0.2s ease;
      animation-name: wiggly;
      animation-duration: 0.2s;
      animation-iteration-count: 3;
    }

@keyframes wiggly{
  0%, 100% {
    transform: translate3d(0,0,0);
  }
  50% {
    transform: translate3d(3px,10px,0);
  }
}


img {
    max-width: 100%;
}

.answer {
    position: absolute;
    top: 35%;
    left: 35%;
    width: 30%;
    height: 30%;
    font-size: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    color: #e0efea;
    animation-name: fadein;
    animation-duration: 4s;
    animation-iteration-count: 1;
    text-shadow: 0 0 0 rgba(255,255,255,1);

}

@keyframes fadein{
  0% {
    color: rgba(255,255,255,0);
    text-shadow: 0 0 50px rgba(255,255,255,1);
  }
  100% {
    color: rgba(255, 255, 255, 1);
    text-shadow: 0 0 0 rgba(255,255,255,1);
  }
}

.answer-content {
  width: 100%;

}

h1 {
  font-size: 20px;
}
